
$ff-regular: 'Rubik', sans-serif;
$fw-light: 300;
$fw-regular: 400;
$fw-bold: 500;

$fs-regular: 18px;

$tablet: 600px;
$desktop: 1050px;

$clr-blue: hsl(246, 80%, 60%);
$clr-orange: hsl(15, 100%, 70%);
$clr-lightblue: hsl(195, 74%, 62%);
$clr-red: hsl(348, 100%, 68%);
$clr-green: hsl(145, 58%, 55%);
$clr-purple: hsl(264, 64%, 52%);
$clr-yellow: hsl(43, 84%, 65%);

$clr-neutral-100: hsl(236, 100%, 87%);
$clr-neutral-300: hsl(235, 45%, 61%);
$clr-neutral-500: hsl(235, 46%, 20%);
$clr-neutral-700: hsl(226, 43%, 10%);